body{
    background: url('https://subtlepatterns.com/patterns/dust_scratches.png');
    overflow-x: hidden;
    padding-bottom: 50px;
}

.banner-container{
    width: 100%;
    height: 40vmin;
    background-size: cover;
}
.banner-header{
    text-align: center; 
    width: 100%;
}
.banner-header > h1{
    font-family: 'Roboto Slab', sans-serif;
    font-size:7vw;
    color: whitesmoke; 
    text-shadow: 2px 2px 15px #000000;
    margin-top: 20vmin;
}

#banner1{
    background-image: url("photos/may_23_03.jpg");
    background-position: center;
}
#banner2{
    background-image: url("photos/IMG_2004.jpg");
    background-position: center 70%;
}
#banner3{
    background-image: url("photos/may_23_01.jpg");
    background-position: center 25%;
}

.layer1{
    position: absolute;
    z-index: 1;
}

#info{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
#about{
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
}
#about-title{
    font-size: large;
}
@media screen and (min-width: 48em){
    #info{
        margin-top: 3vh;
        width: 80%;
        margin-bottom: 3vh;
    }
    #about{
        text-align: left;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    #about-title{
        font-size: x-large;
    }
    .container{
        width: 90%;
    }
}

@media screen and (max-width: 64em){
    #services{
        padding-left: 30px;
        padding-right: 30px;
    }
    .card{
        margin-bottom: 5px;
    }
}

.card{
    position: relative;
    padding: 2px;
    transition: all .2s ease-in-out; 
    
}
.card:hover, .card:focus{
    /* transform: scale(.96); */
    opacity: .8;
} 
.card:active{
    transform: scale(.95);
}

.img-port{
    border-radius: 5px;    
}
.img-label{
    text-align: center; 
    width: 100%;
    bottom: 0%
}
.img-label > h2{
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    font-size:4rem;
    color: whitesmoke; 
    text-shadow: 2px 2px 15px #000000;
    /* margin-top: 20vmin; */
}
.modal-content{
    background-color: rgba(1, 1, 1, 0);
    position: relative;
}
.modal-backdrop{
    opacity:0.8 !important;
}
.img-comparison{
    padding: 5px;
    border-radius: 25px;
}

/* MODAL CSS*/